.main-body {
  width: 800px;
  margin: 0 auto;
  background-color: #A1ACB4;
  color:  #3E5161;
  text-align: center;
}

.game-img {
    max-width: 400px;
    max-height: 400px;
}

.update-form  {
  display: none;
}

.game-div {
  border: 2px solid white;
  background-color: #044b7d;
  color: #A1ACB4;
  padding: 30px;
  margin: 45px;
}

#form {
  padding: 50px;
  margin: 50px;
}