.main-body {
  width: 800px;
  margin: 0 auto;
  background-color: #A1ACB4;
  color:  #3E5161;
  text-align: center;
}

.game-img {
    max-width: 400px;
    max-height: 400px;
}

.update-form{
  display: none;
}